@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(11, 109, 255);
  height: 65px;
  padding: 20px;
  flex-wrap: wrap;
}

.header p {
  font-size: 25px;
  color: white;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: lightgreen;
}

.form input {
  width: 300px;
  padding: 15px;
  border-radius: 30px;
  outline: none;
  font-family: 'Poppins';
}

.FormBtn {
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'Poppins';
}

.memeImageContainer{
  width: 300px;
  margin: 0 auto;
}

.memeImageContainer img{
  margin-top: 30px;
  width: 100%;
}